.initial-state {
	padding: 30px 90px;
}

/* Previewer */
.previewer .sizes,
.previewer .wallpaper grid,
.margins {
	margin: 20px;
}

.previewer grid.smaller {
	margin-bottom: 10px;
}

.previewer grid.larger {
	margin-top: 10px;
}

.previewer .wallpaper .backdrop {
	background: rgba(0, 0, 0, 0.25);
}

.previewer .wallpaper {
	/* Try again with gtk4 background-size: cover; */
	background-position: center;
	background-image: url("resource://org/gnome/design/AppIconPreview/wallpapers/Adwaita.jpg");
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 8px rgba(0, 0, 0, 0.2);
}

.previewer .wallpaper label:backdrop {
	color: white;
}

.dark .wallpaper {
	background-image: url("resource://org/gnome/design/AppIconPreview/wallpapers/Adwaita-dark.jpg");
}

.exporter {
	margin: 10px;
}

.exporter .thumbnail {
	border: 1px solid @borders;
	padding: 8px;
	background: @theme_base_color;
	border-radius: 3px;
}


.recents-listbox{
  background:white;
  border: 1px solid mix(@theme_fg_color, @theme_bg_color, 0.8);
}
.recents-listbox row {
  border-bottom: 1px solid mix(@theme_fg_color, @theme_bg_color, 0.9);
}
